# Built artifacts
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Google services
google-services.json
